body{
    background-image: url('wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.top_nav{
    display: inline-flex;
    position: fixed; 
    background: rgba(82, 81, 81, 0.3);
    backdrop-filter: blur(240px);
    height: 35px;
	width: 100%;
    margin-top: -10px;
    margin-left: -10px;
    
}



li{
    position: relative;
    transition-duration: 0.5s;
    display: inline-block;
    text-decoration: none;
    display: inline-block;
}

li a{
    position: relative;
    font-family: sans-serif;
    padding-left: 20px;
    color: aliceblue;
    text-decoration: none;
}

#a{
    padding-top: 10px;
    padding-left: -10px;
}


.dropdown-content{
    display: none;
    position: absolute;
    margin-top: 10px;
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 2px;
    background: rgba(82, 81, 81, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.finder:hover .dropdown-content{
    display: block;
    visibility: visible;
    background: rgba(82, 81, 81, 0.2);  
}

#b{
    padding-top: 7px;
    padding-right: 20px;
}

.dock{
    margin-left: 28%;
    display: inline-flex;
    align-self: center;
    bottom: 30px;
    position: absolute;
    background: rgba(12, 12, 12, 0.3);
    backdrop-filter: blur(20px);
    height: 70px;
	width: auto;
    border-radius: 12px;
}


#dock-img:hover{
    position: relative;
    margin-top: -15px;
    transition: 500ms;
    cursor: pointer;
}


.app_menu{
    background: rgba(12, 12, 12, 0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    display: none;
    visibility: hidden;
    padding-top:-10px;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    padding-left: 10px;
    width: auto;
    padding-bottom:0;
    height:auto;
    padding-right: 10px;
}

.app:hover .app_menu{
    display:block;
    visibility: visible;
    margin-top: 3px;
    margin-left: 5px;
    background: rgba(82, 81, 81, 0.2);  
}


#left{
    float: left;
}

#right{
    float: right;
}

#clock{
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    float: right;
    margin-right: 20px;
    
    padding-top:8px ;
}

#clock:hover{
    cursor: pointer;
}

.battery{
    background-color: #000000;
    height: auto;
    width: 80px;
    float: right;
    border-radius: 10px;
    margin-right: 20px;
    height: 25px;
    margin-top: 3px;
    border: 1px solid rgb(227, 227, 227);
}

#battery-text{
    
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 3px;
}

