

html, body {
    margin: 0;
    height: 100%;
}

body{
    background-color: black;
}

.boot{
    
    display: inline-flex;
    margin-top: 300px;
    vertical-align:middle;
    margin-left:45%;
}

#boot-btn{
    cursor: pointer;
    height:40px;
    width:100px;
    background-color: black;
    color: white;
    font-size: 40px;
    
}

#boot-img{
    margin-left:-10px;
    margin-top:8px;
}


